<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<include resource="org/springframework/boot/logging/logback/base.xml"/>
	<logger name="org.springframework" level="ERROR"/>
	<logger name="org.apache" level="ERROR"/>
	<logger name="org.mongodb" level="ERROR"/>
	<logger name="com.netflix" level="ERROR"/>
	<logger name="springfox" level="ERROR"/>
	<logger name="com.eastrobot" level="DEBUG"/>
</configuration>